@import url("https://fonts.googleapis.com/css2?family=Ovo&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media screen and (max-width: 800px) {
  .redesContainer {
    padding-top: 20px; }
  .cajaFotoContacto {
    padding-top: 50px; } }

@media screen and (max-width: 550px) {
  #fotoLogo {
    width: 95%; }
  footer {
    text-align: center; }
  .botoneraTratamientos {
    display: flex;
    flex-direction: column; }
  .botonTratamientos {
    margin-top: 15px; }
  .faq p {
    font-family: "Ovo", serif;
    font-size: 3rem;
    text-align: center; }
  .cajaBoton {
    margin-top: 30px; }
  .formularioDeContacto {
    width: 300px; }
  .dibujoMapa {
    width: 95%; } }

body header .fotoInicio {
  padding-top: 20px;
  padding-left: 45px;
  background-color: #eceaf4; }
  body header .fotoInicio #fotoInicio {
    max-width: 95%;
    max-height: 95%;
    height: 90px; }

body header .redesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-items: center;
  background-color: #eceaf4; }
  body header .redesContainer ul {
    display: flex;
    align-items: flex-end;
    justify-items: flex-end;
    background-color: #eceaf4;
    list-style: none; }
    body header .redesContainer ul:hover a {
      filter: blur(2px); }
    body header .redesContainer ul li {
      margin: 0 5px;
      width: 50px;
      height: 50px;
      text-align: center; }
      body header .redesContainer ul li .instagram:hover {
        background-color: #e4405f;
        filter: none; }
      body header .redesContainer ul li .whatsapp:hover {
        background-color: #00bb2b;
        filter: none; }
      body header .redesContainer ul li .tiktok:hover {
        background-color: black;
        filter: none; }
      body header .redesContainer ul li .linkedin:hover {
        background-color: #0077b5;
        filter: none; }
      body header .redesContainer ul li a {
        display: block;
        padding: 0 10px;
        background: #333;
        color: #fff;
        line-height: 50px;
        font-size: 18px;
        box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
        transition: .2s; }
        body header .redesContainer ul li a:hover {
          transform: translateY(-6px);
          transform: scale(1.05);
          box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4); }

.menuNavegacion {
  background-color: #562764;
  font-family: "Ovo", serif;
  text-align: right; }
  .menuNavegacion .colorFondoDropdown {
    background-color: #562764; }
  .menuNavegacion ul li a {
    color: white; }
    .menuNavegacion ul li a:hover {
      background-color: indigo; }

.mainIndex {
  background-color: #bfb8da; }
  .mainIndex .primeraSeccion {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column; }
    .mainIndex .primeraSeccion .cajaVideo {
      width: 100%;
      margin-top: 90px;
      padding: 20px; }
      .mainIndex .primeraSeccion .cajaVideo .videoLanding {
        width: 100%;
        border: 9px black;
        margin: auto;
        border-radius: 20px; }
    .mainIndex .primeraSeccion .fraseFoto {
      text-align: center;
      font-family: "Ovo", serif;
      font-size: 20px;
      padding: 10px; }
    .mainIndex .primeraSeccion #conoceMas {
      border-style: none;
      border-radius: 15px;
      font-family: "Ovo", serif;
      background-color: #562764;
      padding: 10px;
      margin-bottom: 5px;
      color: white; }

.mainSobreMi {
  background-color: #bfb8da; }
  .mainSobreMi .seccionSobreMi .textoSobreMi {
    font-family: "Ovo", serif; }
  .mainSobreMi .seccionSobreMi .fotoSobreMi {
    height: auto;
    width: 500px;
    border-radius: 25px;
    margin-right: 20px;
    margin-left: 20px; }
  .mainSobreMi .segundaSeccionSobreMi .fotoSobreMi2 {
    height: auto;
    width: 500px;
    border-radius: 25px;
    margin-right: 20px;
    margin-left: 20px; }
  .mainSobreMi .segundaSeccionSobreMi .textoSobreMi {
    font-family: "Ovo", serif; }

.contenedorTarjetas {
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #bfb8da; }
  .contenedorTarjetas .caja {
    height: auto;
    width: 500px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 40px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
    border: solid black 1px;
    font-family: "Ovo", serif; }
    .contenedorTarjetas .caja:hover {
      transform: translateY(-15px);
      box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2); }
    .contenedorTarjetas .caja .fotoTarjeta {
      width: 100%;
      height: auto; }
    .contenedorTarjetas .caja #saberMas {
      text-align: center;
      background-color: #562764;
      color: white;
      border-radius: 16px;
      font-family: "Ovo", serif;
      padding: 5px 20px 5px 20px;
      margin-bottom: 8px;
      width: 100%; }

.contenedorTarjetasFacial {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #bfb8da; }
  .contenedorTarjetasFacial .cajaTratamientosFacial {
    height: auto;
    width: 500px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 40px;
    border-radius: 8px;
    text-align: center;
    transition: all 0.25s;
    border: solid black 1px;
    background-color: white; }
    .contenedorTarjetasFacial .cajaTratamientosFacial .fotoTarjeta {
      width: 100%;
      height: auto; }
    .contenedorTarjetasFacial .cajaTratamientosFacial .displayDeAdentro {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .contenedorTarjetasFacial .cajaTratamientosFacial .displayDeAdentro .iconosAdentro {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px; }
        .contenedorTarjetasFacial .cajaTratamientosFacial .displayDeAdentro .iconosAdentro .iconos {
          font-size: 35px; }

.botoneraTratamientos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #bfb8da; }
  .botoneraTratamientos .botonTratamientos {
    border-radius: 25px;
    text-align: center;
    background-color: #562764;
    color: white;
    transition: all 0.25s;
    padding: 10px;
    margin-bottom: 10px;
    font-family: "Ovo", serif; }
    .botoneraTratamientos .botonTratamientos:hover {
      transform: translateY(-15px);
      box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2); }

.faq {
  text-align: center;
  font-size: 6rem;
  padding-top: 300px;
  padding-bottom: 300px;
  background-color: #bfb8da; }

.posicionformulario {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #bfb8da; }
  .posicionformulario .formularioDeContacto {
    width: 540px;
    height: 640px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    box-sizing: border-box;
    font-family: 'Ovo', serif;
    margin: auto; }
    .posicionformulario .formularioDeContacto #tituloContacto {
      padding-bottom: 30px;
      width: 180px;
      color: #5a5a6e;
      border-bottom: solid 2px #bebed2;
      padding-top: 30px;
      padding-left: 20px; }
    .posicionformulario .formularioDeContacto input {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      background: none;
      outline: none;
      resize: none;
      border: 0;
      font-family: 'Ovo', serif;
      transition: all .3s;
      border-bottom: solid 2px #bebed2;
      text-align: left;
      margin-bottom: 5px; }
    .posicionformulario .formularioDeContacto #textoComentario {
      background: 0;
      padding-left: 20px;
      width: 100%; }
    .posicionformulario .formularioDeContacto #botonEnviar {
      color: #fff;
      border: solid 2px #78788c;
      background: 0;
      color: #5a5a6e;
      cursor: pointer;
      border-radius: 8px;
      width: 30%;
      float: right;
      margin-right: 20px;
      display: block;
      text-align: center; }
      .posicionformulario .formularioDeContacto #botonEnviar:hover {
        background: #78788c; }
  .posicionformulario .cajaFotoContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .posicionformulario .cajaFotoContacto .cajaVideoContacto {
      width: 540px;
      height: 540px;
      border-radius: 16px; }
    .posicionformulario .cajaFotoContacto #botonSolicitaTuTurno {
      width: 100%;
      border-radius: 25px;
      border: #562764 solid 2px;
      text-align: center;
      background-color: #562764;
      padding: 10px;
      font-family: "Ovo", serif;
      color: white;
      cursor: pointer;
      transition: all 0.25s;
      animation: ease-in-out;
      margin-top: 20px; }
      .posicionformulario .cajaFotoContacto #botonSolicitaTuTurno:hover {
        transform: translateY(-15px); }

.mapas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-flow: column nowrap;
  /* grid-area: mapas; */
  background-color: #bfb8da;
  padding-top: 20px; }
  .mapas .dibujoMapa {
    border-radius: 40px; }
  .mapas h3 {
    color: #fff;
    text-decoration: underline; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CDBAD7;
  height: 200px; }
