.posicionformulario{

    padding-top: 40px;
    padding-bottom: 40px;
    background-color:$color-main;

    .formularioDeContacto {

        width: 540px;
        height: 640px;
        background:$color-formulario;
        border-radius: 8px;
        box-shadow: 0 0 40px -10px #000;
        box-sizing: border-box;
        font-family: 'Ovo', serif;
        margin: auto; 


        #tituloContacto {

            padding-bottom: 30px;
            width: 180px;
            color: #5a5a6e;
            border-bottom: solid 2px #bebed2;
            padding-top: 30px;
            padding-left: 20px
        

        }

        input {

            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            background: none;
            outline: none;
            resize: none;
            border: 0;
            font-family: 'Ovo', serif;
            transition: all .3s;
            border-bottom: solid 2px #bebed2;
            text-align: left;
            margin-bottom: 5px;
        
        }

        #textoComentario {

            background: 0;
            padding-left: 20px;
            width: 100%;
            

        }

        #botonEnviar {

            color: #fff;
            border: solid 2px #78788c;
            background: 0;
            color: #5a5a6e;
            cursor: pointer;
            border-radius: 8px;
            width: 30%;
            float: right;
            margin-right: 20px;
            display: block;
            text-align: center;

            &:hover {

                background: #78788c;
            }
        
        
        }


        

    }


    .cajaFotoContacto {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .cajaVideoContacto {

            width: 540px;
            height: 540px;
            border-radius: 16px;
        

        }

        #botonSolicitaTuTurno {

            width: 100%;
            border-radius: 25px;
            border: #562764 solid 2px;
            text-align: center;
            background-color:$color-barra-nav;
            padding: 10px;
            font-family: $tipografia;
            color: white;
            cursor: pointer;
            transition: all 0.25s;
            animation: ease-in-out;
            margin-top: 20px;


            &:hover {

                transform: translateY(-15px);
            }
        


        }


    
    }




    

}


.mapas {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column wrap;
    /* grid-area: mapas; */
    background-color: #bfb8da;
    padding-top: 20px;

    .mapaTamanio {

        width: 100%;
        
    

      .dibujoMapa {

        border-radius: 40px;
        width: 100%;
        }

        .tituloMapa {

        color: #fff;
        text-decoration: underline;
        text-align: center;
        width: 100%;

        }

    }




}