


@media screen and (max-width:1080px) {

    .redesContainer {

        padding-top: 20px;
    }

    .cajaVideoContacto {

        width: 100%;
    }

    .cajaFotoContacto {

    padding-top: 50px;
    width: 100%;
    margin: auto;

    }

    .seccionSobreMi {

        .fotoSobreMi {
        display: none;
            
        }


    }







}





@media screen and (max-width:660px) {

    .cajaFotoContacto {

        display: none;
    }

    .cajaVideoContacto{

        display: none;
    }




    #fotoLogo {

        width: 95%;

    }

    footer {

        text-align: center;
    }

    .botoneraTratamientos {

        display: flex;
        flex-direction: column;

    }

    .botonTratamientos {

    margin-top: 15px;

    }



    .cajaBoton {

        margin-top: 30px;
    }






    .segundaSeccionSobreMi {

        align-items: center;

        .fotoSobreMi2 {

            padding-top: 10px;
            margin: auto;
           
        }

  
    }

}


