.mainSobreMi {

    background-color:$color-main;

    .seccionSobreMi {

        .textoSobreMi {

            font-family:$tipografia;

        }

        .fotoSobreMi {

            height: 350px;
            width: 500px;
            border-radius: 25px;
            margin-right: 20px;
            margin-left: 20px;
            
        
        }


    }

    .segundaSeccionSobreMi {

        .fotoSobreMi2 {

            height: auto;
            width: 320px;
            border-radius: 25px;
            margin-right: 20px;
            margin-left: 20px;


        }





    }


}

