@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}



$color-header:#eceaf4;
$color-barra-nav: #562764;
$color-main:#bfb8da;
$color-footer:#CDBAD7;

$color-barra-redes-sociales:#333;

$color-formulario:#e6e6e6;


$instagram:#e4405f;
$whatsapp: #00bb2b;
$linkedin: #0077b5;
$tiktok:black;


$tipografia: 'Ovo', serif;



